$cpfp-width: 220px;
$cpfp-button-size: 34px;
$cpfp-border: #bbb;
$cpfp-background: #fff;



// Button
.palette-color-picker-button {
  position: relative;
  display: inline-block;
  width: $cpfp-button-size;
  height: $cpfp-button-size;
  margin-right: 8px;
  background: url(colorpicker-from-palette-icon.png) center center no-repeat;
  cursor: pointer;

  outline: 1px solid $cpfp-border;
  border: 2px solid #fff;
}

// Bubble
.palette-color-picker-bubble {
  display: none;
  margin: 12px 0;
  position: absolute;
  bottom: 100%;
  width: $cpfp-width;
  padding: 10px 8px 8px 8px;
  border: 1px solid $cpfp-border;
  border-radius: 3px;

  // Arrow bottom
  &:after,
  &:before {
  	top: 100%;
  	left: 14px;
  	border: solid transparent;
  	content: ' ';
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  }
  &:after {
  	border-color: transparent;
  	border-top-color: $cpfp-background;
  	border-width: 8px;
  	margin-left: -8px;
  }
  &:before {
  	border-color: transparent;
  	border-top-color: $cpfp-border;
  	border-width: 9px;
  	margin-left: -9px;
  }

  .on-bottom {
    bottom: auto;
    top: 100%;

    // Arow on top

  }

  .swatch {
    position: relative;
    display: inline-block;
    font: 0/0 a;
    width: 12.66%;
    padding-top: 11.00%;
    margin: 1% 2%;
    outline: 1px solid $cpfp-border;
    border: 2px solid #fff;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;


    &.active {
      outline-color: #000;
    }

    &.clear {
      background-color: #fff;
      &:before {
        position: absolute;
        content: '';
        display: block;
        top: -1px;
        left: 0;
        width: 100px;
        height: 2px;
        background-color: #e00;

        transform-origin: 0 0;
        transform:  rotate(45deg);

      }
    }
  }
}
